@import './variables';

.nav {
    background-color: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: -80px; 
    position: sticky;
    font-size: 1rem;
    top : 0;
    z-index: 10;

    @media screen and (max-width : 960px ) {
        transition: all 0.8s ease ;
    }
    .navbar-container {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        padding: 0 24px;
        max-width:  1100px;

        .logo {
            color:  white;
            justify-self: flex-start;
            cursor: pointer;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-weight: bold;
            margin-left: 24px;
            user-select: none;

            .cclogo {
                height : 3rem;
                width: auto;
                &:hover {
                    transform: scale(1);
                    transition: all 0.2s ease-in-out;
                }
            }
            
        }
        .open-menu {
            display: none;

            @media  screen and (max-width : 768px ) {
                display: block;
                 position: absolute;
                 top : 0;
                 right : 0;
                 transform: translate(-100%, 60%);
                 font-size: 1.8rem;
                 cursor: pointer;
                 color: white;
                 transition: all 0.2s ease-in-out;

                 &:hover {
                     transition: all 0.2s ease-in-out;
                     color: $primary;
                 }
            } 
        }

        .nav-menu{ 
            display: flex;
            align-items: center;
            text-align: center;
            list-style: none;
            margin-right: -22px;

            @media screen and (max-width : 768px ) {
                display: none;
            }

            .nav-item {
                height: 80px;

                .nav-link {
                    color: white;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 0 1rem;
                    height: 100%;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    user-select: none;

                    &.active {
                        border-bottom: 3px solid $primary;
                    }
                    &:hover {
                        border-bottom: 3px solid $primary;
                        color: $primary;
                        transition: all 0.2s ease-in-out;
                    }
                    .project{
                        text-decoration: none;
                        color: white;
                    }
                    .sponsor{
                        text-decoration: none;
                        color: white;
                    }
                    .instructor{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        .signin {
            display: flex;
            align-items: center;
            flex-direction: column;

            .signin-shadow-top {
                opacity: 0;
                width: 90px;
                height: 20px;
                background-color: rgb(255, 8, 255);
                position: relative;
                color: white;
                top : 50px;
            }
            // .signin-shadow-bot {
            //     width: 90px;
            //     height: 30px;
            //     background-color: rgb(255, 255, 255);
            //     position: relative;
            //     color: white;
            //     top : 5px;
                
            //     transform: perspective(1rem) rotateX(40deg);
            //     filter: blur(13px);
                
            // }


            @media screen and (max-width : 768px) {
                display: none;
            }
            .signin-btn {
                text-decoration: none;
                padding: 10px 22px;
                color: rgb(0, 0, 0);
                background-color: $primary;
                border-radius: 50px;
                white-space: nowrap ;
                font-size: 1.1rem;
                outline: none;
                border: none;
                cursor: pointer;
                transition: all 0.2s ease-in-out;


                // &::after {
                //     content: '';
                //     position: absolute;
                //     background-color: rgb(255, 255, 255);
                //     top :80%;
                //     width: 90px;   
                //     height: 20px;
                //     left: 435px;

                //     transform: perspective(1rem) rotateX(40deg);
                //     filter: blur(13px);
                    
                //     @media screen and (max-width : 1200px) {
                //         left : 500px;
                //     }
                //     @media screen and (max-width : 1400px) {
                //         left : 180px;
                //     }
                // }

                &:hover {
                    transition: all 0.2s ease-in-out;
                    background-color: #fff;
                    color : #010606;
                }
            }
        }
    }
}